* {
    box-sizing: border-box;
  }
  
  body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  h1 {
    margin : 25px;
    text-align: center;
    text-transform:uppercase;
  }
  
  .container {
    width: 100%;
  }
  
  .box {
    height: 200px;
    border: 2px solid black;
    padding: 0 10px 10px 10px;
    margin: 10px;

    overflow: hidden;
  }
  
  .box h2{
    height: 45px;
    width:200px;
    color: #ffffff;
    background-color: gray;
    float:right;
    margin: -3px -11px 0 0;
    text-align: center;
    padding-top: 3px ;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
  }
   
  #box1{
    background-color:rgb(109, 197, 197);
  }
  
  #box2{
    background-color: rgb(172, 172, 76);
  }
  
  #box3{
    background-color: rgb(202, 62, 62);
  }
  
  p {
    margin-top: 47px;
    text-align: justify;
  } 
  @media (min-width: 992px) {
    .box-lg-4 {
      float: left;
      width: 33.33%;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {  
    .box-md-6, .box-md-12{
      float: left;
    }
    .box-md-6{
      width: 50%;
    }
    .box-md-12{
      width: 100%;
    }
  }
   
  @media (max-width: 767px) {
    .box-sm-12 {
      float: left;
      width: 100%;
    }
  }
  